h1 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 2.8rem;
  line-height: 1.2;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

h2 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.2;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

h3 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.4;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

h4 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1.4;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

h5 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: .7rem;
  line-height: 1.6;
  text-transform: uppercase;
  letter-spacing: .07rem;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

h6 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.4;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

p {
  font-family: Roboto;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.8;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

ul li {
  font-family: Roboto;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.8;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

ol li {
  font-family: Roboto;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.8;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

blockquote {
  font-family: Roboto;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.6;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  margin-left: 2.5rem;
  color: #2d2d2d
}

.fr_button_border_black {
  font-family: Montserrat;
  text-align: center;
  color: black;
  border: 1px solid #000;
  border-radius: 4px
}

.fr_content_25 {
  float: none;
  display: block;
  padding-top: 4rem;
  padding-bottom: 0rem;
  background-color: white
}

.fr_cnt03_column_grid_3 {
  float: none;
  display: block;
  width: 100%;
  vertical-align: top;
  margin-right: auto;
  margin-left: auto;
  max-width: 1080px;
}

.fr_cnt03_column_grid_3.fr-grid>.fr-widget {
  float: left
}

.fr_cnt03_column_grid_3.fr-grid>.fr-widget:nth-child(2n+1) {
  margin-top: 1em;
  margin-right: 4%;
  margin-bottom: 1em;
  margin-left: 0;
  width: 48%;
  clear: left;
  max-width: inherit
}

.fr_cnt03_column_grid_3.fr-grid>.fr-widget:nth-child(2n+2) {
  margin-top: 1em;
  margin-right: 0;
  margin-bottom: 1em;
  margin-left: 0;
  width: 48%;
  clear: none;
  max-width: inherit
}

.fr_cnt03_image_3 {
  float: none;
  display: block;
  margin-right: auto;
  background-position: left center;
  background-size: cover;
  min-height: 15rem
}

.fr_text_163 {
  float: none;
  display: block
}

.fr_text_162 {
  float: none;
  display: block;
  width: 90%;
  margin-top: 2rem;
  padding-top: 20px;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-left: 10px;
  max-width: 240px
}

.fr_content_28 {
  float: none;
  display: block;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: white;
  background-position: center center;
  background-size: cover
}

.fr_cnt03_column_grid_5 {
  float: none;
  display: block;
  width: 90%;
  vertical-align: top;
  margin-right: auto;
  margin-left: auto;
  max-width: 1080px
}

.fr_cnt03_column_grid_5.fr-grid>.fr-widget {
  float: right
}

.fr_cnt03_column_grid_5.fr-grid>.fr-widget:nth-child(2n+1) {
  margin-top: 1em;
  margin-right: 0;
  margin-bottom: 1em;
  margin-left: 4%;
  width: 48%;
  clear: right;
  max-width: inherit
}

.fr_cnt03_column_grid_5.fr-grid>.fr-widget:nth-child(2n+2) {
  margin-top: 1em;
  margin-right: 0;
  margin-bottom: 1em;
  margin-left: 0;
  width: 48%;
  clear: none;
  max-width: inherit
}

.fr_cnt03_image_5 {
  float: none;
  display: block;
  margin-right: auto;
  background-position: left center;
  background-size: cover;
  min-height: 25rem
}

.fr_text_203 {
  float: none;
  display: block
}

.fr_text_204 {
  float: none;
  display: block;
  width: 90%;
  margin-top: 2rem;
  padding-top: 20px;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-left: 10px;
  max-width: 240px
}

.fr_content_29 {
  float: none;
  display: block;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: white
}

.fr_cnt03_column_grid_6 {
  float: none;
  display: block;
  width: 90%;
  vertical-align: top;
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px
}

.fr_cnt03_column_grid_6.fr-grid>.fr-widget {
  float: left
}

.fr_cnt03_column_grid_6.fr-grid>.fr-widget:nth-child(2n+1) {
  margin-top: 1em;
  margin-right: 4%;
  margin-bottom: 1em;
  margin-left: 0;
  width: 48%;
  clear: left;
  max-width: inherit
}

.fr_cnt03_column_grid_6.fr-grid>.fr-widget:nth-child(2n+2) {
  margin-top: 1em;
  margin-right: 0;
  margin-bottom: 1em;
  margin-left: 0;
  width: 48%;
  clear: none;
  max-width: inherit
}

.fr_cnt03_image_6 {
  float: none;
  display: block;
  margin-right: auto;
  background-position: left center;
  background-size: cover;
  min-height: 25rem
}

.fr_text_205 {
  float: none;
  display: block
}

.fr_text_206 {
  float: none;
  display: block;
  width: 90%;
  margin-top: 2rem;
  padding-top: 20px;
  padding-right: 10px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  max-width: 240px
}

@media screen and (max-width:768px) {
  .fr_cnt03_column_grid_3.fr-grid>.fr-widget {
    float: left
  }
  .fr_cnt03_column_grid_3.fr-grid>.fr-widget:nth-child(1n+1) {
    margin-top: 1em;
    margin-right: 0;
    margin-bottom: 1em;
    margin-left: 0;
    width: 100%;
    clear: left;
    max-width: inherit
  }
  .fr_cnt03_column_grid_5.fr-grid>.fr-widget {
    float: left
  }
  .fr_cnt03_column_grid_5.fr-grid>.fr-widget:nth-child(1n+1) {
    margin-top: 1em;
    margin-right: 0;
    margin-bottom: 1em;
    margin-left: 0;
    width: 100%;
    clear: left;
    max-width: inherit
  }
  .fr_cnt03_column_grid_6.fr-grid>.fr-widget {
    float: left
  }
  .fr_cnt03_column_grid_6.fr-grid>.fr-widget:nth-child(1n+1) {
    margin-top: 1em;
    margin-right: 0;
    margin-bottom: 1em;
    margin-left: 0;
    width: 100%;
    clear: left;
    max-width: inherit
  }
}

@media screen and (max-width:480px) {
  .fr_text_162 {
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto
  }
  .fr_text_204 {
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto
  }
  .fr_text_206 {
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto
  }

  .create-event > a {
    width: 5%;
  }
}

.fr_text_206 {
  transition-property: color, background-color;
  transition-duration: .3s;
  transition-timing-function: ease-out
}

.fr_text_206:hover {
  color: white;
  background-color: #cd3030;
  transition-duration: .125s
}

.fr_text_204 {
  transition-property: color, background-color;
  transition-duration: .3s;
  transition-timing-function: ease-out
}

.fr_text_204:hover {
  color: white;
  background-color: #cd3030;
  transition-duration: .125s
}

.fr_text_162 {
  transition-property: color, background-color;
  transition-duration: .3s;
  transition-timing-function: ease-out
}

.fr_text_162:hover {
  color: white;
  background-color: #cd3030;
  transition-duration: .125s
  padding-left: 20px;
  max-width: 300px
 }

input[type=text] {
    float: none;
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 75%;
}

hr.style18 { 
  height: 30px;
  width: 100%;
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 1px 0 0 0; 
  border-radius: 20px; 
} 
hr.style18:before { 
  display: block; 
  content: ""; 
  height: 30px; 
  margin-top: -31px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 0 0 1px 0; 
  border-radius: 20px; 
}

.fr_cnt03_column_grid_5 a {
  color: black;
}

.fr_cnt03_column_grid_5 a:hover {
  color: #CD3030;
}
